{% extends 'layout.html' %}
{% block contents %}
<form action="/books/new"  method="post">

    <h5>Title</h5>
    <input type="text"  name="title" class="form-control" id="title" placeholder="Enter a Title">
  <br/>
  
    <h5>Author<h5>
  <input type="Text"  name="author" class="form-control" id="floatingPassword" placeholder="Author">
    
    <h5>Desctription</h5>
  <textarea class="form-control" name="desctription" id="exampleFormControlTextarea1" rows="4"></textarea>
    <br/>
  <input type="submit" value="Add a Book"/>
  </form>

{% endblock %}